# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# ignore all files in the root directory that begin with "firebase" and
# functions direcotry that is used for testing

firebase.json
.firebaserc
# packages/functions
firebase-debug.log
ui-debug.log

.angular

.nx/cache
.nx/workspace-data
.firebase/logs/vsce-debug.log
.firebase/logs/vsce-debug.log
